@font-face {
    font-family: "Manrope";
    src: url("public/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Manrope", sans-serif;
}

/*Header*/
.header-top {
    background: #252F3D;
    padding: 20px;
    color: #fff;
    display: flex;
}

.header-top-section-container,
.header-bottom-section-container {
    max-width: 1245px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.header-top-section {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.header-top-section span {
    color: #FFF;
    /* font-family: "Manrope-Medium", Helvetica; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 12px */
    text-transform: uppercase;
}

.header-bottom {
    padding: 30px 0;
}

.header-bottom-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* .header-bottom-section-container {
    display: flex;
    justify-content: space-between;
} */

.label-title {
    text-align: center;

    p {
        color: #4d5254;
        /* font-family: "Manrope-Regular", Helvetica; */
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 24px;
        /* white-space: nowrap; */
    }

    h1 {
        color: #000000;
        /* font-family: "Manrope-Regular", Helvetica; */
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 48px;
        /* white-space: nowrap; */
    }
}

.container,
.site-content {
    /* display: flex; */
    max-width: 1245px;
    margin: 0 auto;
}

.check-mark {
    position: absolute;
    left: 8px;
    top: 11px;
}

.step-ellipse {
    position: relative;
    max-width: 40px;
}

.step-text {
    color: #000000;
    /* font-family: "Manrope-Regular", Helvetica; */
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    /* white-space: nowrap; */
}

.step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 40px;
}

.product-description {
    margin-left: 25px;
}

header .owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.product-review {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    margin-top: 24px;
}

.product-description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 61px;
    padding: 40px 40px 38px;
    background: #FAFAFA;

    .product-img>img {
        width: 100%;
    }
}

.btn.btn-primary {
    border-radius: 50px;
    background: #59AE43;
    color: #FFF;
    padding: 16px 64px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    svg {
        margin-left: 19.76px;
    }
}

.percentage-container {
    border-radius: 10px;
    background: #EDF3FD;
    padding: 12px 16px;
    margin: 32px 0
}

.tick-circle-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tick-circle {
    width: auto;
}

.percentage-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stop-text {
    font-weight: 500;
    color: #f82c2c;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    text-align: center;
}

/*Shipping*/

.shippping-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    position: relative;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cfcfcf;
    margin: 12px 0 15px;
}

.shippping-container span {
    color: #4D5254;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    text-transform: capitalize;
}

.d-flex-align-center {
    display: flex;
    align-items: center;
}

.copyright,
.guarantee-container,
.payment-icons {
    display: flex;
    align-items: center;
}

.guarantee-container {
    gap: 16px;
}

.guarantee-container p {
    font-weight: 400;
    color: #4d5254;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
}

.footer {
    background-color: #252f3d;
}

.footer .text-wrapper {
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.footer .line {
    background: #fff;
    width: 1px;
    height: 24px;
    margin: 0 10px;
}

.encryption {
    gap: 16px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 13px;
}

.profile .verify,
.profile .name-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile .verify {

    color: #5BB59A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
}

.stars {
    margin-bottom: 15px;
}

.product-stars {
    gap: 24px;
    margin: 32px 0 12px
}

.product-details {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.product-img-detail {
    background: #2c7ef8;
    border-radius: 10px;

}

.blue {
    color: #2C7EF8;
}

.description p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
}

.sub-price {
    color: #969696;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;
    text-transform: capitalize;
}

.final-price {
    color: #2C7EF8;
    leading-trim: both;
    text-edge: cap;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
}

.prices {
    gap: 10px;
}

.product-prices {
    justify-content: space-between;
    margin: 7px 0;
}

.product-name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    text-transform: capitalize;
}

.stock {
    gap: 16px;
    margin: 2px 0;
}

.product-details p {
    color: #4D5254;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-top: 9px;
}

.tick-list p {
    margin: 8px 0;
}

/* .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
    grid-template-areas:
      "header header header"
      "sidebar main main";
  }
  
  .header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .main {
    grid-area: main;
  } */

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

    /* Estilos para el slider en dispositivos móviles */
    #header-slider {
        /* Agrega aquí tus estilos específicos para el slider en dispositivos móviles */
    }

    /* Ocultar el contenedor #header-top en dispositivos móviles */
    #header-top {
        display: none;
    }
}

/* Estilos para escritorio */
@media (min-width: 768px) {

    /* Ocultar el slider en escritorio */
    #header-slider {
        display: none;
    }

    /* Estilos para el contenedor #header-top en escritorio */
    #header-top {
        /* Agrega aquí tus estilos específicos para el contenedor en escritorio */
    }
}