@font-face {
    font-family: "Manrope";
    src: url("public/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Manrope", sans-serif;
}

/*Header*/

#header-slider {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.header-slider .header-top-section {}

.header-slider.header-top {
    padding: 10px 20px;

}

.header-top {
    background: #252F3D;
    padding: 20px;
    color: #fff;
    display: flex;
}

.header-top-section-container,
.header-bottom-section-container {
    max-width: 1245px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    gap: 2%;
    justify-content: space-between;
}

.header-top-section {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    width: max-content;
}

.header-top-section span {
    color: #FFF;
    /* font-family: "Manrope-Medium", Helvetica; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 12px */
    text-transform: uppercase;
}

.header-bottom {
    padding: 30px 30px 10px;
}

.header-bottom-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* .header-bottom-section-container {
    display: flex;
    justify-content: space-between;
} */

.label-title {
    text-align: center;

    p {
        color: #4d5254;
        /* font-family: "Manrope-Regular", Helvetica; */
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 24px;
        margin: 18px auto 0;
        /* white-space: nowrap; */

    }

    h1 {
        color: #000000;
        /* font-family: "Manrope-Regular", Helvetica; */
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 48px;
        margin: 0;
        /* white-space: nowrap; */
    }
}

.container,
.site-content {
    /* display: flex; */
    max-width: 1245px;
    margin: 0 auto;
}

.check-mark {
    position: absolute;
    left: 8px;
    top: 11px;
}

.step-ellipse {
    position: relative;
    max-width: 40px;
}

.step-text {
    color: #000000;
    /* font-family: "Manrope-Regular", Helvetica; */
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    /* white-space: nowrap; */
}

.step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 40px;
}

.product-description {
    margin-left: 25px;
}

header .owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.product-review {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    margin-top: 24px;
}

.product-review p {
    color: #4D5254;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.product-description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 61px;
    padding: 40px 40px 38px;
    background: #FAFAFA;

    .product-img>img {
        width: 100%;
    }
}

.btn.btn-primary {
    border-radius: 50px;
    background: #59AE43;
    color: #FFF;
    padding: 16px 64px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    /* border: none; */
    cursor: pointer;
    border: 1px solid #59AE43;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-left: 19.76px;
    }

    svg path {
        fill: #fff;
    }

    transition: background 0.25s ease-in-out;
    
}

.btn.btn-primary:hover {
    background: #FFF;
    color: #59AE43;

    svg path {
        fill: #59AE43;
    }

}

.percentage-container {
    border-radius: 10px;
    background: #EDF3FD;
    padding: 10.8px 16px;
    margin: 20px 0 32px;
}

.tick-circle-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tick-circle {
    width: auto;
}

.percentage-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stop-text {
    font-weight: 500;
    color: #f82c2c;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    text-align: center;
}

/*Shipping*/

.shippping-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    position: relative;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cfcfcf;
    margin: 12px 0 15px;
}

.shippping-container span {
    color: #4D5254;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    text-transform: capitalize;
}

.d-flex-align-center {
    display: flex;
    align-items: center;
}

.copyright,
.guarantee-container,
.payment-icons {
    display: flex;
    align-items: center;
}

.guarantee-container {
    gap: 16px;
}

.guarantee-container p {
    font-weight: 400;
    color: #4d5254;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
}

.footer {
    background-color: #252f3d;
}

.footer .text-wrapper {
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.footer .line {
    background: #fff;
    width: 1px;
    height: 24px;
    margin: 0 10px;
}

.shippping-container .line {
    background: #CFCFCF;
    ;
    width: 1px;
    height: 16px;
    /* margin: 0 10px; */
}

.encryption {
    gap: 16px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 13px;
}

.profile .verify,
.profile .name-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bold {
    font-weight: 700;
}

.white {
    color: #fff
}

.step-number {
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 22px */
    text-transform: capitalize;
    top: 10px;
    left: 15px;
}

.profile .verify {

    color: #5BB59A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
}

.stars {
    margin-bottom: 15px;
}

.product-stars {
    gap: 24px;
    margin: 7px 0 3px;
}

.product-details {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.product-img-detail {
    background: #2c7ef8;
    border-radius: 10px;

}

.blue {
    color: #2C7EF8;
}

.description p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
    margin: -10px auto 0;
}

.sub-price {
    color: #969696;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;
    text-transform: capitalize;
}

.final-price {
    color: #2C7EF8;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    text-transform: capitalize;
}

.prices {
    gap: 10px;
}

.product-prices {
    justify-content: space-between;
    margin: 7px 0;
}

.product-name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
    text-transform: capitalize;
}

.stock {
    gap: 16px;
    margin: 2px 0;
}

.stock .text-wrapper {
    color: #37465A;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product-details p {
    color: #4D5254;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    margin-top: 9px;
}

.tick-list p {
    margin:7px 0;
}

.tick-list p {
    color: #4D5254;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

/* .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
    grid-template-areas:
      "header header header"
      "sidebar main main";
  }
  
  .header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .main {
    grid-area: main;
  } */
.product-review {
    display: none;
}


.stars-details {
    margin-bottom: 8px;
}


.steps-container-mobile .step {
    flex-direction: column;
    justify-content: center;
}

.steps-container-mobile {
    display: flex;
    justify-content: space-between;
}

.percentage-container p {
    color: #000;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 6px 0;
    /* 22.4px */
}

.product-details-p {
    display: none;
}

.sub-price {
    text-decoration: line-through;

}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {

    /* Estilos para el slider en dispositivos móviles */
    #header-slider {
        /* Agrega aquí tus estilos específicos para el slider en dispositivos móviles */
    }

    /* Ocultar el contenedor #header-top en dispositivos móviles */
    #header-top {
        display: none;
    }

    .logo img {
        max-width: 106.7px;
    }

    .header-bottom-section.logos img {
        max-width: 44px;
    }

    .product-description-container {
        /* grid-template-columns: 1fr; */
        display: block;
    }

    .label-title {
        text-align: center;

        p {
            color: #4d5254;
            /* font-family: "Manrope-Regular", Helvetica; */
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 140%;
            /* white-space: nowrap; */

        }

        h1 {
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 44.8px */
            text-transform: capitalize;
        }
    }

    .steps-container {
        display: none;
    }



    .step-text {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 13.2px */
        text-transform: capitalize;
    }

    .header-bottom {
        padding: 20px;
    }

    .site-content {
        padding: 0 20px;
    }

    .product-description-container {
        padding: 0
    }

    .footer .text-wrapper {
        font-size: 12px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .footer .line {

        height: 14px;

    }

    .description {
        display: none;
    }

    .description.mobile {
        display: block;
    }

    .description.mobile p {
        font-size: 24px;
        text-align: center;
    }

    .btn.btn-primary {
        font-size: 14px;
    }

    .product-description {
        margin-left: 0;
    }

    .product-description-container {
        background: none;
    }

    .shippping-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .payment-icons {
        text-align: center;
        justify-content: center;
        flex-basis: 100%;
    }

    .shippping-container .line.mobile {

        width: 100%;
        height: 1px;
        /* margin: 0 10px; */
    }

    .guarantee-container img {
        max-width: 48px;
    }

    .stop-text,
    .guarantee-container p {
        font-size: 12px;
    }

    .product-name,
    .percentage-container p {
        font-size: 14px;
    }

    .product-details p {
        display: none;
    }

    .product-details-p {
        display: block;
        color: #4D5254;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 9px;
        text-align: center;
    }

    .product-details {

        flex: 1;
    }

    .tick-list p,
    .stock .text-wrapper {

        font-size: 12px;

    }

    .sub-price {
        font-size: 10px;

    }

    .final-price {
        font-size: 14px;
    }

    .check-mark {
        left: 4px;
        top: 1px;
        width: 12px;
    }

    .ellipse {
        width: 20px;
        height: 20px;
    }

    .step-number {
        font-size: 14px;
        top: 1px;
        left: 6px;
    }

    .product-img-detail img {
        max-width: 100%;
    }

    .product-details {
        flex-basis: 100%;
    }

    .tick-circle {
        max-width: 16px;
    }

    .btn.btn-primary {
        padding: 16px 5%;
        svg {
          margin-left: 16px;
          max-width: 12px;
        }
      }

}


/* Estilos para escritorio */
@media (min-width: 768px) {

    .description.mobile,
    .steps-container-mobile {
        display: none;
    }

    /* Ocultar el slider en escritorio */
    #header-slider {
        display: none;
    }

    /* Estilos para el contenedor #header-top en escritorio */
    #header-top {
        /* Agrega aquí tus estilos específicos para el contenedor en escritorio */
    }

    .product-review {
        display: block;
    }
}